.header{
	width: 100%;
	background-color: rgb(158, 208, 255, .6);
	position: relative;
}
.header ul{
	text-align: right;
}
.header ul li{
	list-style: none;
	display: inline-block;
	padding: 0 10px;

}
.header ul li a{
	display: block;
	text-decoration: none;
	color: white;
	font-size: 20px;
	font-family: Comic Sans, sans-serif;
	letter-spacing: 2px;
	font-weight: 600;
	padding: 20px;
	transition: 0.3s;
}
.header ul li a:hover{
	background-color: rgb(158, 208, 255,1);
}
body{
	background: url("Stars.jpg")no-repeat;
	background-size: cover;
	height: 100vh;
	background-position: left;
}
